<html>
<h1>Search Existing Employee</h1>

<form class="byName">
    <fieldset byName>
      <legend>By Name</legend> <hr>
      <div class="mb-3">
        <label for="first name" class="form-label">Firstname</label>
        <input type="text" id="first name" class="form-control" placeholder="first name">
      </div>
      <div class="mb-3">
        <label for="last name" class="form-label">Lastname</label>
        <input type="text" id="last name" class="form-control" placeholder="last name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
     </form>    <br><br>

     <form class="byId">
    <fieldset byId>
        <legend>By Id</legend> <hr>
        <div class="mb-3">
          <label for="Employee Id" class="form-label">Employee Id</label>
          <input type="text" id="Employee Id" class="form-control" placeholder="EMPxxx">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </fieldset>
    </form>  <br><br>

    <form class="byMobileNo">
      <fieldset byMobileNo>
        <legend>By Mobile No</legend> <hr>
        <div class="mb-3">
          <label for="Mobile No" class="form-label">Mobile No</label>
          <input type="text" id="Mobile No" class="form-control" placeholder="10 digit">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </fieldset>
    </form>    <br><br>

    <form class="byAadharNo">
      <fieldset byAadharNo>
        <legend>By Aadhar No</legend> <hr>
        <div class="mb-3">
          <label for="Aadhar No" class="form-label">Aadhar No</label>
          <input type="text" id="Aadhar No" class="form-control" placeholder="12 digit">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </fieldset>
  </form>

</html>