.button
{
    background-color: lightseagreen;
    color: white;
    margin-left: 527px;
}
.size
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.button1
{
    background-color: rgb(231, 37, 37);
    color: white;
    margin-left: 300px;
}