<html>
<h1>Add New Employee</h1>
<body>
    <form>
      <b> Name </b> 
        <input type="text" name="First Name" placeholder="First Name"> &nbsp;
        <input type="text" name="Middle Name" placeholder="Middle Name"> &nbsp;
        <input type="text" name="Last Name" placeholder="Last Name">
        <br><br>
      <b> Birthdate </b> <br>
        <input type="date" name=Birthdate placeholder="dd-mm-yyyy">
        <br><br>
       <b> Gender </b> <br>
        <select name="Gender" id="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br><br>
       <b> Email </b> <br>
        <input type="Email" name="Email" placeholder="Enter Email"> <br><br>
       <b> Mobile number </b> <br>
        <input type="number" name="Mobile" placeholder="Enter Mobile No"> <br><br>
       <b> Aadhar number </b> <br>
        <input type="number" name="Aadhar" placeholder="Enter Aadhar No"> <br><br>
       <b> Country </b> <br>
        <input type="text" name="Country" placeholder="Enter Country"> <br><br>
       <b> State </b> <br>
        <input type="text" name="State" placeholder="Enter State"> <br><br>
       <b> City </b> <br>
        <input type="text" name="City" placeholder="Enter City"> <br><br>
       <b> Residential Address </b> <br>
        <textarea name="" id="" cols="30" rows="4"></textarea> <br><br>
       <b> Permanent Address </b><br>
        <textarea name="" id="" cols="30" rows="4"></textarea> <br><br>
        Role <br>
        <select name="Role" id="Role">
            <option value="Doctor">Doctor</option>
            <option value="Administrator">Administrator</option>
            <option value="Receptionist">Receptionist</option>
        </select>
        <br><br>
       <b> Qualification </b> <br>
        <input type="text" name="Qualification" placeholder="Enter Qualification"> <br><br>
       <b> Specialization </b> <br>
        <input type="text" name="Specialization" placeholder="Enter Specialization"> <br><br>
        <input type="submit" value="submit" class="button">  &nbsp;
        <button class=button1>clear</button> 
    </form>
</body>
</html>