<html>
    <div style="text-align: center">   
        <h1>SignUp</h1>
    <form>
       Enter your Name <br>
        <input type="text" name="First Name" placeholder="First Name" required> <br><br>
        <input type="text" name="Middle Name" placeholder="Middle Name"> <br><br>
        <input type="text" name="Last Name" placeholder="Last Name" required> <br><br>
       Enter your Employee ID <br>
       <input type="text" name="Emp ID" placeholder="EMP ID" required> <br><br>
       Enter your Phone number <br>
       <input type="number" name="Mobile" placeholder="Enter Mobile No" required> <br><br>
       Enter your Email ID <br>
       <input type="Email" name="Email" placeholder="Enter Email" required> <br><br>
       Enter Password <br>
       <input type="password" name="pass" placeholder="Password" required>  <br><br>
       Confirm Password <br>
       <input type="password" name="pass" placeholder="Password" required>  <br><br>
       <input type="button" value="SignUp" class="b1">
    </form>
    </div>
</html>