
<html>
  <head>
    <title>Dashboard</title>
    <style>
       tr:nth-child(even) {
            background-color: lightgrey;
        }
    </style>
  </head>
  <div style="text-align: center">
  <h1>Personal Details</h1>
  <table border="1" class="size">
    <tr>
       <th>Info</th>
       <th>Details</th>
       </tr>
       <tr>
       <td style="padding: 10px"><b>{{JD}}</b></td>
       <td>  </td>
     </tr>
    <tr>
      <td style="padding: 10px"><b>{{ID}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Name}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Birth}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Gender}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Email}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Mobile}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Aadhar}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Country}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{State}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{City}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Address}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Role}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Qualification}}</b></td>
      <td>  </td>
    </tr>
    <tr>
      <td style="padding: 10px"><b>{{Specialization}}</b></td>
      <td>  </td>
    </tr>
  </table>
  <button class="button">Edit</button> </div>
</html>